<table cellpadding="0"
style="max-width:640px;border-collapse:collapse!important;border-spacing:0px!important;color:#222222!important;display:table!important;font-family:Cereal,Helvetica Neue,Helvetica,sans-serif!important;margin-left:auto!important;margin-right:auto!important;padding:0px!important;vertical-align:top!important;width:100%!important;"
role="presentation" width="100% !important" valign="top !important">
<tbody>
    <tr style="margin:0px!important">
        <td>
            <div style="border:1px solid #dddddd;border-radius:12px;overflow:hidden">
                <table cellpadding="0" style="border-collapse:collapse;border-spacing:0;width:100%"
                    role="presentation">
                    <tbody>
                        <tr style="margin:0px!important">
                            <td style="padding-left:48px;padding-right:48px">
                                <table cellpadding="0"
                                    style="border-collapse:collapse;border-spacing:0;width:100%"
                                    role="presentation">
                                    <tbody>
                                        <tr style="margin: 0!important">
                                            <td style="padding-bottom: 24px; padding-top: 48px; ">
                                                <a rel="noreferrer" href="/" target="_blank" >
                                                    <img alt="Dristi Docs" src="https://res.cloudinary.com/dqvkis3qg/image/upload/v1/CollegeChat/blktuyb6yzokkj6hxkef.jpg"
                                                        style="height: 64px; width: 148px; border: 0!important;"
                                                        width="148" height="64" class="CToWUd" data-bit="iit">
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table cellpadding="0" style="border-collapse:collapse;border-spacing:0;width:100%"
                    role="presentation">
                    <tbody>
                        <tr style="margin:0px!important">
                            <td style="padding-left:48px;padding-right:48px;padding-top:0px">
                                <table cellpadding="0"
                                    style="border-collapse:collapse;border-spacing:0;width:100%"
                                    role="presentation">
                                    <tbody>
                                        <tr style="margin:0px!important">
                                            <td style="padding-bottom:24px">
                                                <p
                                                    style="font-size:18px;line-height:28px;font-family:Cereal,Helvetica Neue,Helvetica,sans-serif;margin:0!important">
                                                    You have been added to Dristi Docs as {role}.</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table cellpadding="0"
                                    style="border-collapse:collapse;border-spacing:0;width:100%"
                                    role="presentation">
                                    <tbody>
                                        <tr style="margin:0px!important">
                                            <td>
                                                <p
                                                    style="font-size:18px;line-height:28px;font-family:Cereal,Helvetica Neue,Helvetica,sans-serif;margin:0!important">
                                                    Credentials for your registered account are:</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table cellpadding="0"
                                    style="border-collapse:collapse;border-spacing:0;width:100%"
                                    role="presentation">
                                    <tbody>
                                        <tr style="margin:0px!important">
                                            <td style="padding-bottom:24px">
                                                <p
                                                    style="font-size:18px;line-height:28px;font-family:Cereal,Helvetica Neue,Helvetica,sans-serif;margin:0!important">
                                                    Username: {email}</p>
                                                    <p
                                                    style="font-size:18px;line-height:28px;font-family:Cereal,Helvetica Neue,Helvetica,sans-serif;margin:0!important">
                                                    Password: {password}</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table cellpadding="0"
                                    style="border-collapse:collapse;border-spacing:0;width:100%"
                                    role="presentation">
                                    <tbody>
                                        <tr style="margin:0px!important">
                                            <td style="padding-bottom:24px">
                                                <table cellpadding="0"
                                                    style="border-collapse:collapse!important;width:100%!important"
                                                    role="presentation" width="100% !important">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <div
                                                                    style="display:inline-block;font-size:18px;line-height:24px;background: rgb(255,102,0);
                                                                    background: linear-gradient(90deg, rgba(255,102,0,1) 44%, rgba(253,29,29,1) 100%);border-radius:8px;font-family:Cereal,Helvetica Neue,Helvetica,sans-serif;font-weight:500;text-align:center;width:auto!important">
                                                                    <a style="font-family:Cereal,Helvetica Neue,Helvetica;font-size:18px;line-height:24px;padding:16px 24px;font-weight:500;color:#ffffff;text-align:center;text-decoration:none;display:block"
                                                                        href="{link}"
                                                                        target="_blank"
<span
                                                                            style="color:#ffffff!important">Get Started</span></a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table cellpadding="0" style="border-collapse:collapse;border-spacing:0;width:100%"
                    role="presentation">
                    <tbody>
                        <tr style="margin:0px!important">
                            <td style="padding-left:48px;padding-right:48px;padding-top:8px">
                                <table width="100%" role="presentation">
                                    <tbody>
                                        <tr>
                                            <td style="padding:0px!important;border-top:1px solid #dddddd!important"
                                                width="100%" role="separator"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table cellpadding="0" style="border-collapse:collapse;border-spacing:0;width:100%"
                    role="presentation">
                    <tbody>
                        <tr style="margin:0px!important">
                            <td>
                                <table cellpadding="0"
                                    style="border-collapse:collapse;border-spacing:0;width:100%"
                                    role="presentation">
                                    <tbody>
                                        <tr style="margin:0px!important">
                                            <td style="padding-left:48px;padding-right:48px">
                                                <table cellpadding="0"
                                                    style="border-collapse:collapse;border-spacing:0;width:100%"
                                                    role="presentation">
                                                    <tbody>
                                                        <tr style="margin:0px!important">
                                                            <td style="padding-bottom:32px;">
                                                                <table cellpadding="0"
                                                                    style="border-collapse:collapse;border-spacing:0;width:100%"
                                                                    role="presentation">
                                                                    <tbody>
                                                                        <tr style="margin:0px!important">
                                                                            <td style="padding-top:24px">
                                                                                <table cellpadding="0"
                                                                                    style="border-collapse:collapse;border-spacing:0;width:100%"
                                                                                    role="presentation">
                                                                                    <tbody>
                                                                                        <tr
                                                                                            style="margin:0px!important">
                                                                                            <td>
                                                                                                <p
                                                                                                    style="color:#222222!important;font-family:Cereal,Helvetica Neue,Helvetica,sans-serif!important;font-size:14px!important;font-weight:400!important;line-height:18px!important;margin:0px!important">
                                                                                                    This is an automated email if you received it in error, no action is required.
                                                                                                </p>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                                <table cellpadding="0"
                                                                                    style="border-collapse:collapse;border-spacing:0;width:100%"
                                                                                    role="presentation">
                                                                                    <tbody>
                                                                                        <tr
                                                                                            style="margin:0px!important">
                                                                                            <td>
                                                                                                <p
                                                                                                    style="color:#222222!important;font-family:Cereal,Helvetica Neue,Helvetica,sans-serif!important;font-size:14px!important;font-weight:400!important;line-height:18px!important;margin:0px!important">
                                                                                                    Team Kingdom of Chess</p>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                                <table cellpadding="0"
                                                                                    style="border-collapse:collapse;border-spacing:0;width:100%"
                                                                                    role="presentation">
                                                                                    <tbody>
                                                                                        <tr
                                                                                            style="margin:0px!important">
                                                                                            <td>
                                                                                                <a href="/" style="text-decoration: none;">
                                                                                                    <p
                                                                                                    style="color:#0ea5e9!important;font-family:Cereal,Helvetica Neue,Helvetica,sans-serif!important;font-size:14px!important;font-weight:400!important;line-height:18px!important;margin:0px!important">
                                                                                                    Privacy Policy</p>
                                                                                                </td>
                                                                                            </a>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </td>
    </tr>
</tbody>
</table>